<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BYOND Code File"
            extensions="dm"
            icon="icons/file_dm.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.byond.byondclipse.dm.editors.DMEditor"
            id="com.byond.byondclipse.dm.editors.DMEditor">
      </editor>
   </extension>

</plugin>
