<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BYOND Map File"
            extensions="dmm"
            icon="icons/file_dmm.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.byonddev.byondclipse.dmm.editors.DMMEditor"
            id="com.byonddev.byondclipse.dmm.editors.DMMEditor">
      </editor>
   </extension>

</plugin>
